<%- include('includes/head')%>
    <%- include('includes/nav')%>

        <div class="container">
                <div class="text-center py-4">
                    <h1>Olá <%= user.email %></h1>
                    <p class="lead">Você precisa sair para criar outra conta;</p>  
                </div>
                <%- include('includes/messages'); %>

                <div class="text-center mt-5">
                    <h2>Acessar Agenda?</h2>
                    <a class="btn btn-ed" href="/">Agenda</a>
                </div>
        </div>

<%- include('includes/footer')%>